body {
    margin: 0;
}

.mono {
    font-family: 'Courier New', monospace;
}

.no-margin {
    margin: 0;
}

.title {
    text-align: center; 
    font-size: 7vw; 
    margin: -0.2vw 0vw; 
    font-weight: 900;
}

.top-nav {
    display: inline;
    background-color: white;
}

.nav-button {
    display: inline-block;
    color: black;
    width: 12vw;
    height: 3vw;
    font-size: 2vw;
    font-weight: 900;
    text-align: center;
    padding: 1vw 0 0 0;
}

.nav-button:hover {
    background-color: black;
    color: white;
}

.half {
    width: 50%;
    float: left;
}

.half > div {
    display: inline-block;
}